* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-color {
    color: var(--mainColor);
}

.text-color {
    color: var(--secondaryColor);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

:root {
    --mainColor: rgb(31, 94, 175);
    --secondaryColor: rgb(112, 112, 112);
}